<!DOCTYPE html>
<html lang="en">
	<%- include('layout/head'); %>
	<body>
        <div>
		  <input type="text" placeholder="Search"></input>
          <button id='open'>i</button>
          <!-- <button id='share' type="submit">share location</button> -->
          <div class="popup-container" id="popup-container">
              <div class="popup">
                  <h2>Informatie</h2>
                  <p>Hallo daar</p>
                  <button id="close">x</button>
              </div>
          </div>
		  <div id="map"></div>
        </div>
	</body>
</html>
