<!DOCTYPE html>
<html lang="en">
	<%- include('layout/head'); %>
	<body>
		<div>
			<div class="loader"></div>
			<button id="open">i</button>
			<!-- <button id='share' type="submit">share location</button> -->
			<div class="popup-container" id="popup-container">
				<div class="popup">
					<h2>Legenda:</h2>
					<p></p>
					<section>
						<img src="/images/chargingGreen.png" alt="" />
						<p>Duurzaam</p>
					</section>
					<section>
						<img src="/images/chargingOrange.png" alt="" />
						<p>Beetje duurzaam</p>
					</section>
					<section>
						<img src="/images/chargingRed.png" alt="" />
						<p>Niet duurzaam</p>
					</section>
					<section>
						<img src="/images/chargingGrey.png" alt="" />
						<p>Niet beschikbaar</p>
					</section>
					<button id="close">x</button>
				</div>
			</div>
			<div id="map"></div>
		</div>
	</body>
</html>
