<!DOCTYPE html>
<html lang="en">
	<%- include('layout/head'); %>
	<body>
		<div>
			<div class="loader"></div>
			<button id="open">i</button>
			<div class="popup-container" id="popup-container">
				<div class="popup">
					<h2>Info:</h2>
					<section>
						<p>
							The color of the outline represents the level of sustainabilty relative
							to each other. And the main color of the icon represents the level of
							sustainabilty by an absolute scale.
						</p>
					</section>
					<section>
						<img src="/images/chargingGreen.png" width="60em" height="75em" alt="" />
						<img
							src="/images/chargerOrangeButBest.png"
							width="60em"
							height="75em"
							alt=""
						/>
						<img
							src="/images/chargerRedButBest.png"
							width="60em"
							height="75em"
							alt=""
						/>

						<img
							src="/images/chargerGreenButWorse.png"
							width="60em"
							height="75em"
							alt=""
						/>
						<img
							src="/images/chargerOrangeButWorse.png"
							width="60em"
							height="75em"
							alt=""
						/>
						<img src="/images/chargingRed.png" width="60em" height="75em" alt="" />

						<img src="/images/chargingGrey.png" width="50em" height="45em" alt="" />
					</section>
					<button id="close">x</button>
				</div>
			</div>
			<div id="map"></div>
		</div>
	</body>
</html>
