<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/style.css" />
		<!-- <script defer type="module" src="/scripts/script.js"></script> -->
		<title>Meesterproef</title>
	</head>
	<body id="landing"></body>

	<!-- <img src="images/chargingLogo.png" alt="" width="50em" height="50em" />     -->
	<h1>FIND A SUSTAINABLE CHARGER NEARBY!</h1>

	<h5>
		Start the app to find the most sustainable charger around the corner. In a blink of an eye
		you see where are all the chargers nearby are located. Through the colors of the icons you
		can see wich charger are sustainable and wich not.
	</h5>
	<a href="/home">START NOW</a>
</html>
