* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
}

#map {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type='text'] {
	border: none;
	width: 70vw;
	margin-top: 2.5em;
	opacity: 75%;
	padding: 0.5em 1em;
	border-radius: 1em;
	transition: 0.3s;
}

input[type='text']:focus {
	outline: none;
	opacity: 100%;
	transition: 0.3s;
}
