* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type='text'] {
	z-index: 1;
	border: none;
	width: 70vw;
	margin-top: 2.5em;
	opacity: 75%;
	padding: 0.5em 1em;
	border-radius: 1em;
	transition: 0.3s;
}

input[type='text']:focus {
	outline: none;
	opacity: 100%;
	transition: 0.3s;
}

#open {
	font-size: 1.5em;
	position: absolute;
	bottom: 0;
	right: 20%;
	z-index: 1;
	border: none;
	background-color: white;
	width: 2.2em;
	height: 2.2em;
	border-radius: 0.2em;
	transform: translateY(-20%);
	box-shadow: 2em rgba(0, 0, 0, 0.25);
}

.popup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.65);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s ease;
}

.popup-container.show {
	opacity: 100;
	z-index: 2;
	pointer-events: all;
}

.popup h2 {
	color: white;
	width: 100%;
	margin: 0.75em 0;
	padding-left: 2.5em;
}

.popup {
	background-color: rgba(250, 250, 250, 0.925);
	background-color: rgba(6, 15, 81, 100);
	color: white;
	border-radius: 1.5em;
	width: 75vw;
	height: 60vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.25);
	position: relative;
}

.popup button {
	position: absolute;
	background-color: rgba(6, 15, 81, 100);
	color: white;
	right: 0;
	top: 0;
	transform: translate(1.5em, -1.5em);
	border: none;
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	box-shadow: 0.15em 0.1em rgba(0, 0, 0, 0.25);
}

.popup section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0.5em 0;
	width: 80%;
}

.popup section p {
	margin: 0 0 0 1em;
}

.popup section img {
	width: 2.5em;
	height: 3em;
}

.popup section:nth-of-type(3) {
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: solid 0.1em rgba(250, 250, 250, 1);
}

.mapboxgl-ctrl-group > button {
	width: 4em;
	height: 4em;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#share {
	position: absolute;
	z-index: 1;
}

.marker {
	background-image: url('/images/chargingGreen.svg');
	background-size: cover;
	width: 2.5em;
	height: 3.5em;
	cursor: pointer;
}

.mapboxgl-popup {
	max-width: 20vw;
	max-height: 30vh;
}

.mapboxgl-popup-content {
	text-align: center;
	color: white;
	background-color: rgba(59, 137, 129, 0.95);
	font-size: 1.4em !important;
	line-height: 25px;
}

.mapboxgl-popup-content h3 {
	margin: 0 auto;
}

.mapboxgl-popup-close-button {
	color: white;
	font-size: 1em;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	background-color: rgba(59, 137, 129, 0.9);
	color: rgba(59, 137, 129, 0.9);
}
